body {
    background: #55acee;
}
/* 背景の色を変えてみよう */
.wrapper {
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    background: #fff;
    border-radius: 5px;
    text-align: center;
}

.title {
    color: #55acee;
}

input {
    margin: 5px auto;
    padding: 10px;
    font-size: 1em;
    border: solid 1px #55acee;
}

button {
    color: #fff;
    background: #55acee;
    font-size: 1.3em;
    font-weight: bold;
    border: none;
    border-radius:5px;
}
